* {
    padding: 0;
    margin: 0;
    list-style: none;
    border: 0;
    box-sizing: border-box;
    font-family: '.AppleSystemUIFont', sans-serif;
}

html, body {
    height: 100%;
}

body {
    background: #ddd;
}